<div class="nr-coda" role="img" aria-label="A rabbit, a running boy, and a rabbit appear one at a time from left to right.">
  <div class="nr-slot nr-slot-left" aria-hidden="true">
    <pre class="nr-figure nr-rabbit-left">                                                                                 &amp;&amp;&amp;&amp;x      &amp;&amp;&amp;&amp;&amp;x
                                                                                &amp;.x$&amp;&amp;&amp;&amp;&amp; &amp;&amp;&amp;:  +&amp;&amp;
                                                                                &amp; .x&amp;&amp;&amp;&amp;&amp;&amp;. &amp;+: ::&amp;&amp;X
                                                                                   XX&amp;&amp;&amp;&amp;&amp;x .X+::  +&amp;
                                                                                  x.$&amp;&amp;&amp;&amp;&amp;&amp;;. X&amp;   :&amp;X
                                                                                 . &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;+   +&amp;:  $&amp;
                                                                                   &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;. x &amp;x.X &amp;
                                                                                  .$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;  ;:&amp;:+; .
                                                                                    &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;; .  :++$&amp;
                                                                                    +&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;.XxX +&amp;+:.
                                                                                     &amp;&amp;&amp;&amp;&amp;&amp;&amp;;+x&amp;&amp;.&amp;&amp;&amp;;:
                                                                                      .&amp;&amp;&amp;;&amp;&amp;+:x&amp;&amp;&amp;&amp;&amp;$$
                                                                                       ..; x&amp;&amp; $ $&amp;&amp;&amp;&amp;&amp;
                                                                                          x&amp;&amp;&amp;$$X  &amp;&amp;&amp;&amp;
                                                                                          .X&amp; :x&amp;   .$&amp;+
                                                 +.$.;X.X;$&amp;&amp;x$:$XX +                      &amp;$&amp;&amp;x$;XXX
                                         + x+ $ ;$x+XX  &amp;xx.&amp;$:;&amp;x  :  +                   x&amp;;&amp;&amp;&amp;.&amp;&amp; : : +
                                    +;.&amp;&amp;&amp;X::x &amp;X :;&amp;&amp;x.&amp;+&amp;&amp;&amp;.X    +; X                     &amp;&amp;X:&amp;x&amp;.x+X&amp;:xx$; ::+
                                  &amp; +&amp;&amp;  $&amp; .xX&amp;&amp; &amp;&amp;.&amp;;&amp;:$: :&amp;X&amp;&amp;&amp;&amp; X &amp;   x+&amp;$&amp;XxX.  ;       &amp;$&amp;;&amp;&amp;&amp;;X&amp;.x&amp;:;&amp;X.:..
                            ;$:x&amp;:+x; +$+x&amp;&amp;::;&amp;&amp;;&amp;&amp;Xx.&amp;&amp;&amp;+&amp;&amp;$&amp;&amp;;&amp;:&amp;+.$..&amp;&amp;&amp;x&amp;$&amp; x$x&amp;+:.    $&amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;:&amp;X&amp;&amp;&amp;.:&amp;&amp;&amp;;:
                         : +X$&amp;+X:x&amp;&amp;&amp;&amp;&amp;;&amp;&amp;&amp;&amp;&amp;$x&amp;&amp;&amp;&amp;x&amp;XX;&amp;X&amp; +&amp;&amp;&amp;+&amp;&amp;&amp;xX&amp;; ;&amp;X;:. .x;X&amp;$xX+;x&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;;&amp;&amp;X$&amp;&amp; .&amp;&amp;x+;;
                      +&amp;:$&amp;:&amp;&amp;&amp;&amp;xx+&amp;&amp;&amp;&amp;$X:&amp;&amp;&amp;$&amp;&amp;&amp;+&amp;+&amp;X&amp;&amp;X&amp;&amp;X:&amp;:&amp; &amp;;+$&amp;&amp;&amp;&amp;X&amp;&amp;&amp;X : X&amp; ;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;$$$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;+ ;;+ &amp;&amp;&amp;&amp;
                    ;X&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;$ ;x &amp;+&amp;.X.: xxxx &amp;$Xx&amp;x++&amp;+;;x&amp;&amp;+&amp;X&amp;X&amp;XX&amp;&amp;&amp;+X&amp;+&amp;    .&amp;&amp;$X&amp;&amp;$$X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;;.   :&amp;x
                 : $&amp; &amp;&amp;;$&amp;x&amp;X&amp;; ;;&amp;&amp;x:++&amp;&amp;&amp;&amp;&amp;x&amp;$:$;&amp;;&amp;+:+&amp;X&amp;X:&amp;:$&amp;&amp;:;&amp;xx&amp;&amp;&amp;&amp;:&amp; :;x.;..X$&amp;&amp;&amp;X;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;$:  +:+&amp;+.
                x&amp;X&amp;&amp;&amp; x&amp;:&amp;;X.&amp; x&amp;&amp;&amp;$++X$&amp;&amp;$;x&amp;;&amp;X.+x ;++x$&amp;&amp;xx&amp;&amp;;;.&amp;+&amp;&amp;&amp;+&amp;X&amp;&amp;&amp;: X; +::&amp;;x&amp;x&amp;&amp;xx&amp;X&amp;&amp;+$&amp;;$x&amp;&amp;&amp;+:+x+;&amp;;Xx+;
               ;&amp;&amp;&amp;;+.$&amp;&amp;+&amp;xxx;x&amp;&amp;Xx&amp;&amp;&amp;$&amp;X&amp;&amp;&amp;&amp;&amp;$$:+;:$ X+XX:&amp;$xX$;&amp;x&amp;+&amp;&amp;x$&amp;&amp;&amp;:&amp;&amp;+x$.::;;$$&amp;x&amp;+$:&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;&amp;&amp;X$&amp;&amp;X;:.;&amp;&amp;+X:
              X&amp;&amp;&amp;X$&amp;&amp;&amp;x&amp;xXX$x&amp;&amp;XxX$&amp;&amp;&amp;$&amp;&amp;&amp;&amp;$&amp;::X&amp;&amp;$&amp;.:X++&amp;$&amp;$&amp;$&amp;xx$&amp;&amp;&amp;X&amp;&amp;x&amp;&amp;x+&amp;&amp;&amp;&amp; &amp;&amp;&amp;x :X&amp;.+&amp;&amp;x&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;$&amp;&amp;&amp;XX$;; &amp;&amp;:.
             :&amp;;&amp;+$&amp;&amp;&amp;&amp;&amp;&amp;+&amp;:&amp;+&amp;x&amp;;.:&amp;X&amp;&amp;&amp;$X&amp;&amp;&amp;&amp;&amp;.&amp;&amp;+.xx&amp;&amp;&amp;&amp;&amp;&amp;x&amp;Xx+X:Xx&amp;&amp;&amp;&amp;&amp;&amp;$X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;+&amp;$;:&amp;.&amp;;XX&amp;+&amp;&amp;&amp;X&amp;XxX&amp;&amp;&amp;&amp;&amp;&amp;&amp;xXX+x  :
             &amp;xx:.&amp;&amp;&amp;;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$Xx+&amp;:&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;+&amp;&amp;:&amp;;;&amp;&amp;&amp;&amp;+$&amp;&amp;&amp;&amp;&amp;&amp;x:&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;x&amp;+$X&amp;x&amp;&amp;&amp;&amp;.X&amp;X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;XxXXx&amp; &amp;&amp;&amp;&amp;&amp;+&amp;x
            .:X xX&amp;&amp;X&amp;&amp;&amp;&amp;+&amp;&amp;;&amp;&amp;&amp;&amp;&amp;&amp;x&amp;++&amp;X$&amp;&amp;$&amp;$&amp;&amp;X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;;$&amp;&amp;X$&amp;&amp;x+&amp;$&amp;&amp;&amp;$$&amp;&amp;&amp;&amp;&amp;X&amp;&amp;&amp;x$&amp;&amp;x+&amp;: $;&amp;&amp;&amp;&amp;&amp;&amp;+&amp;&amp;  Xx;xX++:
            x&amp;&amp; &amp;:xX&amp;&amp;&amp;X&amp;xx&amp;&amp;&amp;X&amp;&amp;&amp;X$&amp;&amp;&amp;&amp;&amp;X&amp;xX&amp;&amp;&amp;&amp;&amp;&amp;&amp;xxX&amp;x:&amp;&amp;&amp;&amp;X:$&amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;+&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;&amp;X$X+&amp;$XX$X+&amp;X.X&amp;$x
            +&amp;x:&amp;x&amp;&amp;&amp;$&amp;&amp;;&amp;$&amp;x&amp;X&amp;&amp;X$Xx&amp;&amp;&amp;$&amp;X&amp;XX&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;X&amp;+ &amp;&amp;&amp;X&amp;&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;XX+$ X&amp;&amp;&amp;&amp;&amp;&amp;&amp;+x$X$XXxx:.
           .++XxX:&amp;&amp;$&amp;&amp;&amp;$&amp;&amp;$&amp;&amp;$;&amp;&amp;XX&amp;&amp;xx+x:x .;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$+&amp;&amp;&amp;&amp;&amp;x&amp;;&amp;$$&amp;&amp;$$;;
         $&amp;&amp;+X&amp;&amp;$.&amp;$$&amp;X$:&amp;&amp;&amp;xX&amp;XX&amp;&amp;+&amp;&amp;&amp;&amp;$+: : :&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;&amp;X&amp;$X$&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;+XXx$&amp;X&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;X:+:
     .;;&amp;&amp;&amp;&amp;;;;;&amp;+&amp;xX&amp;&amp; &amp;&amp;&amp;&amp;&amp;&amp;x&amp;&amp;&amp;$&amp;$xX&amp;Xx: . :;&amp;$&amp;&amp;XX$$&amp;$&amp;$&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;&amp;X&amp;&amp;&amp;&amp;&amp;&amp;xX&amp;&amp;&amp;&amp;&amp;+;X+x&amp;X&amp;&amp;&amp;&amp;&amp;+$$+.
    ;;+;:$x&amp;&amp;$;+$+;$x&amp;$$;+&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;$x&amp;xx+:  .x+x+;+x&amp;X+&amp;XXx&amp;$XXX$$&amp;&amp;X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;x&amp;x&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$$. .
    :;:x;$&amp;$&amp;++$x;$;;+:;x&amp;X:;&amp;&amp;&amp;&amp;&amp;&amp;&amp;;&amp;X;&amp;&amp;+:.  $+;..X+;;;;:+;;::+;$&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X$X&amp;&amp;&amp;$&amp;X&amp;$&amp;+$X; .
  .  ;+x;xx&amp;+X&amp;xX+x:.&amp;X+xx$&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;x&amp;$X&amp;&amp;+: . ;x;  ;.;:+:x;:...;;+;X$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;x&amp;&amp;&amp;&amp;;&amp;&amp;&amp;&amp;$;&amp;x;.
   ..::.x+;++x:$X++Xx:+xx+X+x$&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;XxX.  x.;.++:++++;;;+:: .x:+&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;x&amp;&amp;&amp;&amp;&amp;$$&amp;&amp;$&amp;xxXX..
      :::+xx:x$&amp;:+++++;+:::;++:x&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$$x  $::+;:. ;;;++:;+X+;xX&amp;&amp;&amp;X&amp;&amp;&amp;&amp;&amp;&amp;$x&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$$$;+x;:
    .::::;:;.:+x.;:++:+.    ;x&amp;xx&amp;&amp;X&amp;&amp;&amp;&amp;&amp;&amp;$; xXX;+.  ; ..;;::;;x++X&amp;;&amp;&amp;&amp;&amp;&amp;&amp;&amp;x&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;;$&amp;;;$$xX.
   .:.::.   .  .    :      X&amp;&amp;&amp;&amp;$X&amp;$&amp;&amp;&amp;&amp;&amp;&amp;X  :.:                     X$&amp;&amp;&amp;&amp;X&amp;&amp;&amp;&amp;&amp;&amp;+&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;$XX+:
........                  +&amp;&amp;&amp;&amp;&amp;&amp;&amp;$x&amp;&amp;X&amp;&amp;&amp;X:                          .X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X: $$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;;&amp;.
                        ;x&amp;x&amp;&amp;&amp;&amp;&amp;&amp;XX&amp;&amp;&amp;&amp;&amp;&amp;x.                             .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;;    .x&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X:$x
                      X$&amp;&amp;&amp;&amp;&amp;$&amp;$$$x+&amp;&amp;&amp;&amp;&amp;XX:                                +&amp;&amp;&amp;&amp;&amp;&amp;Xxx+      .X&amp;&amp;&amp;&amp;&amp;+&amp;&amp;&amp;;:;
                    $X&amp;&amp;X&amp;$&amp;X$xxx:.:$$&amp;&amp;&amp;$.;                                  ;&amp;&amp;&amp;&amp;$$xx$;+         x&amp;&amp;&amp;&amp;&amp;&amp;&amp;X:
                :x&amp;X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$$;::   $&amp;&amp;&amp;&amp;&amp;+.                                      &amp;&amp;&amp;&amp;X$++;.          :&amp;&amp;&amp;&amp;&amp;:.:.
             +:&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;x+:      .x$&amp;X&amp;x$&amp;                                        &amp;&amp;&amp;&amp;&amp;X++            .&amp;&amp;&amp;&amp;+;&amp;
            $$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;;:.        ;X&amp;&amp;X$+$&amp;X;                                     $&amp;&amp;$&amp;X$&amp;x;             .&amp;$&amp;X&amp;
            &amp;&amp;X&amp;&amp;&amp;$x&amp;&amp;&amp;&amp;           xX&amp;&amp;XX&amp;&amp;&amp;+.;.                    .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$x&amp;&amp;&amp;&amp;&amp;XX;+               &amp;$&amp;&amp;&amp;X:.  ;
             +X&amp;xXX&amp;&amp;X:            &amp;$$X$&amp;&amp;&amp;$;&amp;X...+.                 &amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X$&amp;&amp;&amp;&amp;&amp;&amp;&amp;                 :;&amp;&amp;&amp;&amp;&amp;;+&amp;;x&amp;$;
               &amp;;x$x++:.            &amp;&amp;&amp;$$X&amp;Xx&amp;&amp;&amp;+Xx.:;X;x::&amp;++.    x&amp;&amp;&amp;&amp;$$&amp;X&amp;&amp;$$&amp;&amp;&amp;&amp;&amp;&amp;&amp;;                       ;x&amp;&amp;&amp;&amp;;XX&amp;&amp;X$$. +
                $x&amp;X++:;                 xX&amp;X&amp;X&amp;$$$x+&amp;:$$;:&amp;$+::+x;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;&amp;X                                $&amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;
                  ;;x;;+;                     &amp;&amp;$&amp;$&amp;+$$$$+&amp;$;X&amp;X$X+.;                                                      xX.
                   ..+xx$. .                        $&amp;&amp;X&amp;x$$&amp;$&amp;&amp;&amp;x&amp;$..x
                      +x++x:.                              &amp;&amp;&amp;&amp;&amp;&amp;$$&amp;$+xX
                      .x$&amp;x+&amp;.:x                            $  &amp;&amp;X  &amp;::&amp;
                       :+xX&amp;x&amp;x&amp;&amp;&amp;+; &amp;X$$+
                         X&amp;&amp;&amp;&amp;;+&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;+&amp;&amp;xx+
                            &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;.+</pre>
  </div>
  <div class="nr-slot nr-slot-center" aria-hidden="true">
    <pre class="nr-figure nr-boy">                                                      :
                                                &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;xX+.
                                              $&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;:
                                             x&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;
                                             &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$Xx&amp;:
                                             &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$+;::.
                                             &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X+;::
                                             $&amp;&amp;&amp;&amp;&amp;&amp;X$&amp;&amp;&amp;$$XxX+
                                             .&amp;&amp;&amp;&amp;X&amp;&amp;&amp;&amp;&amp;&amp;&amp;X+:;;
                                              .&amp;&amp;XX&amp;Xx$$$&amp;$X;++;
                                                &amp;$X$&amp;XX$$$$x+;:
                                              ;$&amp;&amp;$$&amp;$$XXXX+;;
                                             .;x&amp;Xx&amp;&amp;&amp;&amp;$$XXx;.
                                            :;::.+::;$xx;;..
                                           Xx++;:.:X::.:&amp;X+;:.
                                         .;+;:::::..:X;:&amp;&amp;.+;::
                                         ;x++;$&amp;;:;.:..::&amp;:.$::;.
                                        ;+XX&amp;&amp;X+::+:::..:&amp;..X;;::.
                                      ;$$&amp;X++x;::++;:::..x:.;;+;;:..
                                    ;x+;;+xx;;:.+xx+::::.:+.:xx++;::;
                                   :;++xXX+;;:+xxxxxx;.:::::xxxxxxx+
                                   +&amp;+Xx++;;:+&amp;x+$xXXx+.:.:. .+$+xx++;
                                :XX&amp;&amp;&amp;&amp;&amp;x;:&amp;$XXx++:+xXXx:..     xX$&amp;&amp;$x+
                              :X$$XX&amp;&amp;$&amp;;&amp;&amp;X$$&amp;$$X+::;;Xx.       :$&amp;&amp;&amp;$X+;
                             X$&amp;$+++++   x&amp;&amp;&amp;x+$XxXXx.;:x+         :X&amp;&amp;&amp;Xx+:
                           xX&amp;&amp;$x;+.     +;+X&amp;&amp;xxX+:Xx:::+            x$&amp;&amp;Xx;
                         .X$&amp;$x+;      :;&amp;;$+XX;x:+x::+:.+              .X&amp;&amp;X+;.:.
                       .XX$$x+.       .&amp;;+;;+$&amp;x+.;:;:.+.                  ;&amp;$&amp;&amp;xXX;
                      xX$$x+          .&amp;&amp;&amp;;;X$X+;;..+::.                    .$$&amp;X&amp;Xx:
                 .XXXX$&amp;$x           .&amp;&amp;&amp;&amp;&amp;&amp;&amp;+X;;;;:..::                         .+.
               ;$X$$&amp;&amp;&amp;$x          .;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;;.:
              .$&amp;$&amp;&amp;&amp;&amp;$+           .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;
               $&amp;x..&amp;&amp;.            .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;&amp;XXX
               .. .&amp;;.             .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;X.
                                   .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X
                                    &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$:
                                    &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;$x
                                   :&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X$$X
                                   &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$$$
                                  &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;X
                                 .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;x &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;X
                                &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$:  .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;.
                               .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$.   . .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$+
                              .X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X         ;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;+
                        . .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X             $&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$
                       &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X                 &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;x
                    &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;:                  &amp;&amp;&amp;&amp;&amp;&amp;&amp;$x
                 &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;.                    &amp;&amp;&amp;&amp;&amp;&amp;&amp;$x
             .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;:                         .&amp;&amp;&amp;&amp;&amp;&amp;&amp;$
   Xx;X.  +&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;.                              &amp;&amp;&amp;&amp;&amp;&amp;X&amp;.
  ;&amp;++$&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;:                                   &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;
  x&amp;++&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;:                                       &amp;&amp;&amp;&amp;&amp;&amp;$&amp;
 :x+xX&amp;&amp;&amp;$+x&amp;&amp;&amp;.                                          &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;;
 x+x+&amp;&amp;&amp;&amp;&amp;+;:;                                             &amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;
 x++&amp;&amp;&amp;&amp;&amp;&amp;&amp;                                                :&amp;&amp;&amp;&amp;&amp;&amp;&amp;
X+++&amp;&amp;&amp;&amp;&amp;&amp;                                                  &amp;&amp;&amp;&amp;&amp;&amp;X;
Xx;$&amp;&amp;&amp;x                                                    X&amp;&amp;&amp;&amp;&amp;&amp;&amp;;
XX+&amp;&amp;$                                                      .&amp;&amp;&amp;&amp;&amp;&amp;&amp;X+.    . $&amp;x&amp;:
X&amp;+&amp;$                                                         &amp;xxX&amp;&amp;&amp;X&amp;&amp;&amp;XX&amp;&amp;+&amp;&amp;X
.&amp;+&amp;                                                           ;;X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;xx&amp;++.
                                                              .&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;+x++;+.
                                                              :&amp;&amp;&amp;&amp;&amp;&amp;&amp;+++++x
                                                               &amp;&amp;$++++x+x.
                                                                ++x&amp;$$X.
                                                               .;&amp;+. .</pre>
  </div>
  <div class="nr-slot nr-slot-right" aria-hidden="true">
    <pre class="nr-figure nr-rabbit-right">                                                                                                        .&amp;&amp;&amp;&amp;&amp;
                                                                                                        &amp;xX&amp;&amp;&amp;&amp;X         &amp;&amp;$X$
                                                                                                        ;;+$&amp;&amp;&amp;&amp;&amp;       &amp;&amp;+&amp;$X
                                                                                                       +:x;X&amp;&amp;&amp;&amp;&amp;&amp;     &amp;&amp;X&amp;&amp;$$
                                                                                                       $:xx$&amp;&amp;&amp;&amp;&amp;$+   &amp;$:$&amp;&amp;&amp;&amp;
                                                                                                       :$$$X&amp;&amp;&amp;&amp;&amp;X&amp;   +:x&amp;&amp;&amp;&amp;+
                                                                                                        $&amp;$&amp;&amp;&amp;&amp;&amp;x;$: ::+x&amp;&amp;&amp;&amp;
                                                                                                        +&amp;&amp;&amp;&amp;&amp;&amp;&amp;xx&amp;&amp; :;X$&amp;&amp;&amp;+
                                                                                                        ;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$+x&amp; +X&amp;&amp;&amp;&amp;&amp;
                                                                                                         x&amp;&amp;$&amp;&amp;&amp;X;X&amp;&amp;+&amp;&amp;$$&amp;:
                                                                                                          x&amp;&amp;&amp;X&amp;x;$&amp;&amp;X&amp;&amp;&amp;&amp;$
                                                                                                           .&amp;&amp;x&amp;+$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X
                                                                                                            .&amp;&amp;;XX&amp;&amp;;&amp;&amp;&amp;&amp;$
                                                                                                             +&amp;&amp;&amp;+$&amp;+&amp;&amp;$&amp;+
                                                                                                             ;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;$&amp;.
                                           :&amp;&amp;XXx&amp;x&amp;&amp;x$x&amp;$&amp;&amp;&amp;&amp;$X$;$$$                                        +&amp;&amp;&amp;+&amp;&amp;+;&amp;&amp;&amp;&amp;&amp;X&amp;
                                       XxX&amp;$X&amp;$&amp;&amp;&amp;&amp;&amp;x&amp;&amp;xX&amp;$&amp;&amp;$&amp;&amp;&amp;&amp;XX&amp;$&amp;&amp;&amp;$$&amp;&amp;$XX                             x&amp;$X&amp;$:++X:;&amp;&amp;&amp;&amp;&amp;&amp;+
                                    xXXxx&amp;X&amp;$&amp;$&amp;&amp;X&amp;&amp;&amp;Xx$x$&amp;$&amp;Xx&amp;X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;X$X$X$$$&amp;&amp;&amp;&amp;&amp;$Xx      ;+       .X&amp;&amp;&amp;&amp;&amp;&amp;+&amp;$&amp;&amp;&amp;:&amp;&amp;&amp;&amp;&amp;&amp;&amp;
                                  x$&amp;$&amp;X&amp;x$$&amp;&amp;$&amp;&amp;&amp;$&amp;&amp;&amp;&amp;x&amp;&amp;&amp;;&amp;&amp;xXX$&amp;$&amp;$&amp;xxX&amp;&amp;&amp;X;&amp;&amp;&amp;&amp;;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;X&amp;&amp;&amp;&amp;$$X$&amp;$X$&amp;X&amp;&amp;&amp;$$&amp;$&amp;:&amp;&amp;&amp;&amp;:;&amp;&amp;x&amp;X
                                 x&amp;X&amp;$X+&amp;$+$$X&amp;$&amp;&amp;&amp;X&amp;&amp;&amp;&amp;&amp;$&amp;&amp;;&amp;XX&amp;&amp;&amp;&amp;&amp;&amp;X&amp;X&amp;$&amp;:&amp;X&amp;XX&amp;&amp;&amp;&amp;X$$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;XX&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;$&amp;+XX&amp;&amp;&amp;x&amp;&amp;&amp;&amp;+x&amp;$&amp;X&amp;
                                X$&amp;&amp;&amp;XXX&amp;Xx$x&amp;xX&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;X&amp;&amp;X&amp;&amp;&amp;$&amp;&amp;&amp;$&amp;&amp;&amp;$x&amp;&amp;&amp;X$&amp;&amp;&amp;&amp;&amp;x&amp;&amp;&amp;$X$&amp;&amp;&amp;xX$X&amp;+&amp;X+&amp;&amp;&amp;&amp;&amp;++&amp;XX$$x$&amp;&amp;&amp;&amp;X::xX&amp;$$;
                               +$X&amp;$&amp;$&amp;$$xxxXX$X+&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;x&amp;&amp;&amp;X&amp;&amp;&amp;&amp;+&amp;&amp;$&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;+&amp;&amp;$x$x+XX&amp;&amp;&amp;&amp;+&amp;&amp;xxXXx$&amp;X$$$x:$+;&amp;$$&amp;&amp;:+;X;&amp;X$
                               x&amp;$&amp;$&amp;X;XXX&amp;XxXX&amp;X$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;$&amp;&amp;X&amp;XX&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;$$$Xx+X+xXx++X$xXx&amp;X$$$X$&amp;+X&amp;&amp;&amp;$:&amp;&amp;XX&amp;&amp;X+;X&amp;$&amp;x&amp;X$$$&amp;$$$
                              xx$&amp;&amp;&amp;X$$$$x$xxxx;&amp;$X&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;$&amp;&amp;$&amp;&amp;&amp;&amp;$&amp;&amp;$:$Xx$Xxxx&amp;&amp;$&amp;$XXX&amp;XXxX+&amp;xX&amp;X&amp;xXx&amp;$X$&amp;&amp;+X&amp;&amp;$x&amp;$$+x+$&amp;$+
                             &amp;XX&amp;$XX$&amp;$&amp;XX$Xx+X;Xx&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;$&amp;$&amp;$&amp;$X&amp;&amp;&amp;&amp;&amp;&amp;x&amp;+&amp;X+xXXX+xXxX&amp;$&amp;$&amp;&amp;X$xXxx$XxX;x&amp;&amp;X&amp;Xx++$&amp;&amp;+xX$$$XXx&amp;&amp;$
                           .$$XX&amp;&amp;&amp;$&amp;&amp;X&amp;$X&amp;$$x+;X&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;$$X&amp;X&amp;&amp;X$$&amp;&amp;&amp;&amp;X$&amp;xx+&amp;xX&amp;x&amp;&amp;X&amp;&amp;&amp;&amp;&amp;$$$&amp;&amp;xx+$xXXxX$$&amp;&amp;&amp;&amp;&amp;&amp;&amp;$XxX&amp;&amp;$$$XX&amp;+
                          +x+x+$&amp;&amp;&amp;&amp;&amp;$$&amp;&amp;$xx+Xxx;XX&amp;&amp;$&amp;&amp;$$XXXxxXxx$&amp;&amp;$&amp;&amp;$&amp;x&amp;&amp;&amp;&amp;&amp;&amp;X++x&amp;XX&amp;&amp;&amp;&amp;&amp;&amp;X$&amp;&amp;$$X&amp;&amp;X$+xX+&amp;&amp;&amp;&amp;&amp;&amp;&amp;X&amp;&amp;$+  +;+$X .
                          $xXxx$&amp;&amp;$&amp;&amp;&amp;&amp;&amp;$&amp;XXXxXxxxXX$$$&amp;&amp;&amp;X;X$&amp;$$&amp;X$$&amp;&amp;$&amp;&amp;X&amp;&amp;X&amp;$&amp;$$&amp;&amp;x&amp;&amp;$&amp;&amp;&amp;&amp;$$$+XX$X&amp;&amp;$$&amp;$XX&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;x
                          :;+;+&amp;&amp;&amp;&amp;&amp;$X&amp;&amp;&amp;$$$$$x$XxXx$XXXX&amp;&amp;&amp;xXxX+$$$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$$&amp;&amp;&amp;&amp;&amp;&amp;X$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$$$X$$&amp;&amp;&amp;&amp;$X$$X&amp;&amp;&amp;&amp;&amp;:
                            .x&amp;&amp;&amp;&amp;$$XX$$$&amp;$XXXX$X&amp;xx+xXx$Xx$$X$&amp;$$$X$$$$$&amp;&amp;$&amp;Xx&amp;$$&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;$+X$$&amp;X$X&amp;&amp;&amp;&amp;&amp;$&amp;$&amp;$&amp;&amp;&amp;&amp;&amp;&amp;
                          x$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;Xx&amp;&amp;&amp;XXx+x$$$&amp;&amp;&amp;X$xXx$$X$XXxX$X$$&amp;$XxXX$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;x&amp;&amp;X$$&amp;$$&amp;&amp;&amp;&amp;$&amp;$&amp;&amp;&amp;&amp;&amp;&amp;$&amp;&amp;&amp;&amp;X
              +xX&amp;XX&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$$$$&amp;&amp;&amp;$XX&amp;Xx+++X&amp;&amp;&amp;&amp;&amp;$:       xXx+++++xxxxxXxX$$X&amp;&amp;&amp;$Xx&amp;$&amp;&amp;$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$X$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$$$+
            xx$X&amp;&amp;&amp;&amp;$&amp;$$&amp;$$$&amp;$$&amp;$$&amp;$X$$&amp;$$+;++;&amp;&amp;&amp;$&amp;X$           ::;;++x+++x+x;+xxXX$$&amp;&amp;&amp;$&amp;XXX$&amp;&amp;&amp;&amp;$$&amp;+&amp;$X&amp;$&amp;&amp;&amp;&amp;$$$X+
           X$X$X$&amp;XXX&amp;&amp;&amp;&amp;&amp;$$&amp;&amp;&amp;&amp;&amp;$&amp;$&amp;X$x;;++&amp;$$&amp;$$X                      :;++++++++xxxx$$&amp;x&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;$$X$$$&amp;$&amp;&amp;&amp;&amp;&amp;
         +x$x&amp;&amp;&amp;&amp;XXXxXxXxx+XXXXXXXxxxXx+XXx+x+x.                                  .;;;++xxxxx$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;x+xX$$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;:
        +Xx$&amp;&amp;$$$Xx$$$$X$X                                                                      $&amp;&amp;&amp;&amp;&amp;&amp;$Xxx+xXxxXxxXXX$$$Xx
      ;X&amp;&amp;&amp;&amp;&amp;$x x&amp;&amp;&amp;XX&amp;$                                                                           x&amp;&amp;&amp;X$&amp;xxX+ ;xXX$XxX+;XXXXx
    +XX$X&amp;$$$; +$&amp;&amp;$$$X                                                                               :X&amp;xX$$X     :$XxXx+xX$$xXx
  .X$&amp;$$X&amp;XX .&amp;&amp;&amp;&amp;X$$;                                                                           $&amp;&amp;X$xX&amp;&amp;&amp;&amp;&amp;&amp;         .xx++XX&amp;$xxx.
  XX&amp;$+x&amp;$$ ;X&amp;&amp;&amp;$$&amp;:                                                                           $&amp;x$&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;               XxXXXxx&amp;xxx
 X&amp;&amp;$&amp;X$$   &amp;&amp;&amp;&amp;&amp;&amp;&amp;                                                                             $&amp;&amp;&amp;&amp;&amp;&amp;&amp;&amp;X                    :+X$X&amp;$x$&amp;&amp;$X;
:xX&amp;Xx&amp;$   x$&amp;&amp;&amp;&amp;$                                                                               .                                x+X$$$xx$Xxx
$&amp;&amp;$$&amp;$   +&amp;&amp;&amp;&amp;&amp;&amp;.                                                                                                                  +&amp;&amp;&amp;&amp;&amp;&amp;$&amp;+
Xx&amp;&amp;&amp;$    &amp;&amp;&amp;$&amp;&amp;:
.$xX      ;$X$$
            &amp;</pre>
  </div>
</div>

<!-- Keep the established selectors global during extraction so cascade and specificity stay identical. -->
<style is:global>
.nr-coda {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: end;
  gap: clamp(0.25rem, 1.5vw, 0.85rem);
  width: 100%;
  max-width: 40rem;
  height: clamp(12rem, 24vw, 15rem);
  margin: clamp(2.75rem, 6vw, 4rem) auto 0;
  overflow: visible;
  color: var(--text);
  font-family: ui-monospace, 'SF Mono', 'Cascadia Code', Consolas, 'Liberation Mono', monospace;
}

.nr-coda .nr-slot {
  position: relative;
  min-width: 0;
  height: 100%;
  overflow: visible;
}

.nr-coda .nr-slot-left .nr-figure { left: 75%; }
.nr-coda .nr-slot-center .nr-figure { left: 50%; }
.nr-coda .nr-slot-right .nr-figure { left: 25%; }

.nr-coda .nr-figure {
  position: absolute;
  left: 50%;
  bottom: 0;
  max-width: none;
  margin: 0;
  font: 6px/1 ui-monospace, 'SF Mono', 'Cascadia Code', Consolas, 'Liberation Mono', monospace;
  white-space: pre;
  text-indent: 0;
  opacity: 0;
  transform-origin: 50% 100%;
  animation: nrGhost 10.5s ease-in-out infinite both;
  will-change: opacity;
}

.nr-coda .nr-rabbit-left {
  transform: translateX(-50%) scale(0.56);
}

.nr-coda .nr-boy {
  transform: translateX(-50%) scale(0.52);
}

.nr-coda .nr-rabbit-right {
  transform: translateX(-50%) scale(0.54);
}

.nr-coda .nr-slot-center .nr-figure {
  animation-delay: 3.5s;
}

.nr-coda .nr-slot-right .nr-figure {
  animation-delay: 7s;
}

@keyframes nrGhost {
  0% { opacity: 0; }
  8%, 30% { opacity: 0.85; }
  45%, 100% { opacity: 0; }
}

@media (max-width: 640px) {
  .nr-coda {
    gap: 0.15rem;
    height: 9rem;
  }

  .nr-coda .nr-rabbit-left {
    transform: translateX(-50%) scale(0.34);
  }

  .nr-coda .nr-boy {
    transform: translateX(-50%) scale(0.32);
  }

  .nr-coda .nr-rabbit-right {
    transform: translateX(-50%) scale(0.33);
  }
}

@media (prefers-reduced-motion: reduce) {
  .nr-coda .nr-figure {
    animation: none;
    opacity: 0;
  }

  .nr-coda .nr-slot-right .nr-figure {
    opacity: 1;
  }
}

/* --- No, Rabbit: desktop hover hold --- */
@media (hover: hover) and (pointer: fine) {
  .nr-coda:hover .nr-figure {
    animation-play-state: paused;
    opacity: 0 !important;
    transition: opacity 180ms ease;
  }

  .nr-coda .nr-slot:hover .nr-figure {
    opacity: 1 !important;
  }
}
</style>
